body {
	background-color: #ddd;
}

.content {
	padding-top: 53px;
}

.account {
    background-color: #edeff1;
	position: relative;
	padding: 30px 30px 30px 30px;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.account .col-sm-6 {
    text-align: center;
}

.account-icon {

}

@media (min-width: 768px) {
    .account-icon {
        padding-top: 30px;
    }
}


.account-form {
	padding: 24px 7% 20px 7%;
	position: relative;
}

.account-form .account-field:focus + .account-field-icon {
	color: #1abc9c;
}

.account-form .account-field-icon {
	color: #bfc9ca;
	font-size: 16px;
	position: absolute;
	right: 15px;
	top: 3px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.account-subtext {
    color: #bfc9ca;
    display: block;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}