body {
	background-color: #ddd;
}

.content {
	margin-top: 68px;
}

#main-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main {
    width: 100%;
}

.account {
    background-color: #edeff1;
	position: relative;
	padding: 30px 30px 30px 30px;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.account .col-sm-6 {
    text-align: center;
}

.account-icon {

}

@media (min-width: 768px) {
    .account-icon {
        padding-top: 30px;
    }
}


.account-form {
	padding: 24px 7% 20px 7%;
	position: relative;
}

.account-form .account-field:focus + .account-field-icon {
	color: #1abc9c;
}

.account-form .account-field-icon {
	color: #bfc9ca;
	font-size: 16px;
	position: absolute;
	right: 15px;
	top: 3px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.account-subtext {
    color: #bfc9ca;
    display: block;
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}

.tile {
    text-align: center;
    background-color: #eff0f2;
    border-radius: 6px;
    padding: 14px;
    position: relative;
    text-align: center;
}

.school-name {
    font-size: 18px;
}

.submit-upload {
    border-right: 1px dashed #cecece;
}


.school-picker-list {

}

.dim {
    opacity: 0.2;
}