{% extends '../base.html' %}

{% block content %}
<div class="account">
    <div class="row">
        <div class="col-sm-6">
            <div class="account-icon">
                <img src="/img/icons/safe.svg">
                <h4>Forgot your password?</h4>
                <p>It's ok, we all make mistakes.</p>
            </div>
        </div>
        <div class="col-sm-6">
            {% if (message.length > 0) %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            <form class="account-form" method="post" action="/accounts/forgot/">
                <div class="form-group">
                    <input type="text" class="form-control account-field" placeholder="Enter your email" id="account-email" name="email">
                    <label class="account-field-icon fui-user" for="account-email"></label>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send reset email" />
                <div class="account-subtext"><a class="account-create" href="/accounts/register/">Create an account</a><br />
                <a class="account-forgot" href="/accounts/login/">Or, log in.</a></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}