{% extends '../base.html' %}

{% block html_tag_attrs %}
ng-app="ngSubmitForm"
{% endblock %}

{% block js %}
<script src="/js/angular.js"></script>
<script src="/js/submitEssay.js"></script>
{% endblock %}

{% block main %}
<div class="submit-essay">
    <form method="post" class="account-form" action="/essays/submit" enctype="multipart/form-data" ng-controller="SubmitEssayCtrl">
    <section id="submit-school" class="submit-section submit-school fade in" ng-class="{in: currentSection==1, dim: currentSection>1}" ng-click="clickedSection(1)">
        <div class="row">
            <div class="col-sm-12" ng-controller="SchoolPickerCtrl">

                <h3>1. What school are you applying to?</h3>

                
                <div class="form-group">
                        <input type="text" class="form-control" id="school-id" name="schoolID" placeholder="Search for a school..." ng-model="query" />
                        <label class="account-field-icon fui-search" for="school-id"></label>
                </div>
                <div class="school-picker-list">
                    <div class="picker-card" ng-repeat="school in schools | filter:query">
                        <div class="btn btn-large btn-block" ng-click="select(school)" ng-class="{'btn-primary': school.id==selectedSchool.id,
                        'btn-default': school!=selectedSchool}">
                            <div class="school-name" ng-bind="school.name"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="submit-prompt" class="submit-section submit-prompt fade" ng-class="{in: currentSection==2, dim: currentSection>2}" ng-click="clickedSection(2)" ng-controller="PromptPickerCtrl">
        <div class="row">
            <div class="col-sm-12" >
                <h3>2. What is the prompt?</h3>
                <div class="prompt-picker-list">
                    <div class="picker-card" ng-repeat="prompt in selectedSchool.prompts">
                        <div class="btn btn-large btn-default btn-block" ng-click="select(prompt); $event.stopPropagation();" ng-class="{'btn-primary': prompt.id==selectedPrompt.id,
                        'btn-default': prompt!=selectedPrompt}">
                            <p ng-bind="prompt.prompt"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="submit-upload" class="submit-section submit-upload fade" ng-class="{in: currentSection==3, dim: currentSection>3}" ng-click="clickedSection(3)" ng-controller="EssayUploaderCtrl">
        <div class="row">
            <div class="col-sm-12">
                <h3>3. Send us your essay.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="file" name="essayFile" id="essayFile" ng-model-instant="fileToUpload" multiple onchange="angular.element(this).scope().setFiles()" />
                <div ng-click="removeFiles()" class="btn btn-xs btn-danger" ng-class="{hidden: !selectedFileToUpload}" style="float: left;">Remove file</div>
            </div>
        </div>
        <div class="row upload-options">
            <div class="col-sm-12">
                <h5>- or -</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea name="essayText" class="form-control copy-paste-area" placeholder="Copy and paste essay here..." ng-init="focused = false" ng-focus="focused = true" ng-blur="blurredEssayText()" ng-class="{focused: focused}" ng-model="essayText" ng-change="changedEssayText()"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-info btn-large btn-block" ng-click="submit()">Next Step: Choose Level of Feedback &raquo;</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}